#time,
#hex,
#hex2 {
  color: #ffffff;
  text-align: center;
  font-size: 80px;
  font-family: 'Bungee Shade', cursive; }

.time_header,
.hex_header {
  color: #ffffff;
  text-align: center;
  font-size: 60px;
  font-family: 'Bungee Shade', cursive; }
