body {
  padding-top: 30px; }

#time,
#hex,
#hex2 {
  color: #ffffff;
  text-align: center;
  font-size: 80px;
  font-family: 'Bungee Shade', cursive; }

#hex2 {
  margin-bottom: 45px; }

.time_header,
.hex_header {
  color: #ffffff;
  text-align: center;
  font-size: 60px;
  font-family: 'Bungee Shade', cursive; }

@media screen and (max-width: 520px) {
  #time,
  #hex,
  #hex2 {
    font-size: 60px; }
  .time_header,
  .hex_header {
    font-size: 40px; } }
